.principal {
    background-color: aquamarine;
    text-align: center;
    color: crimson;
}
.card {
    border: 2px solid black;
    text-align: left;
    color: #000;
    margin: 20px;
}
/*.card .img {
    background-image: url(./img/argentina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}*/
.card-body .card-title{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}
.card-body .card-title a{
        text-decoration: none;
        color: #000;
}
.card-foot {
    text-align: center;
    border: 2px solid #000;
}
.card-foot a{
    text-decoration: none;
    color: #000;
}
.card-foot a:hover{
    color: crimson;
}

.container-reserva{
   margin-top: 300px;
}